:root {
  --color-secondary: #159eec;
  --color-accent: #bfd2f8;
  --color-primary: #1f2b6c;
  --color-black: #212124;
  --color-white: #fcfefe;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: var(--color-black);
}

/* General CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 992px;
  margin: 0 auto;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.active {
  color: var(--color-accent);
  font-weight: 600;
}

.card {
  padding: 25px 20px;
  border-radius: 5px;
}

/* ICON CSS */
.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* text */
.text--secondary {
  color: var(--color-secondary);
}

.icon--phone {
  width: 40.198px;
  height: 38.19px;
  background-image: url("/image/icon/phone.png");
}
.icon--location {
  width: 40.198px;
  height: 38.19px;
  background-image: url("/image/icon/location.png");
}
.icon--clock {
  width: 30px;
  height: 36px;
  background-image: url("/image/icon/clock.png");
}
.icon--search {
  width: 20px;
  height: 20px;
  background-image: url("/image/icon/search.png");
}
.icon--calendar {
  width: 50px;
  height: 50px;
  background-image: url("/image/icon/39.-Calendar.png");
}
.icon--team {
  width: 50px;
  height: 42.5px;
  background-image: url("/image/icon/27.-Team.png");
}
.icon--cash {
  width: 50px;
  height: 36.5px;
  background-image: url("/image/icon/15.-Cash.png");
}
.icon--vector {
  background-image: url("/image/icon/icon-learn-more.png");
  width: 10px;
  height: 10px;
}
.icon--medical {
  background-image: url("/image/icon/free\ checkup.png");
  width: 32px;
  height: 32px;
}
.icon--heart {
  background-image: url("/image/icon/heart.png");
  width: 32px;
  height: 32px;
}
.icon--add {
  background-image: url("/image/icon/dna\ testing.png");
  width: 32px;
  height: 32px;
}
.icon--blood {
  background-image: url("/image/icon/blood\ bank.png");
  width: 32px;
  height: 32px;
}
.icon--heart2 {
  background-image: url("/image/icon/heart2.png");
  width: 50px;
  height: 44px;
}

.bg--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.bg--accent {
  background-color: var(--color-accent);
  color: var(--color-primary);
}
.bg--secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

/* btn css */
.btn {
  background-color: var(--color-accent);
  padding: 13px 35px;
  border-radius: 50px;
  border: none;
  font-weight: 500;
  color: var(--color-primary);
}

/* topbar CSS */
.topbar {
  color: var(--color-primary);
  text-transform: uppercase;
}

.topbar > * {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

/* logo top */
.topbar__logo {
  font-family: "Yeseva One", cursive;
  font-weight: 400;
  font-size: 36px;
}
.topbar__logo span {
  color: var(--color-secondary);
}

.topbar__info {
  display: flex;
  gap: 20px;
  font-weight: 500;
}

/* info icon */
.topbar__info > * {
  display: flex;
  gap: 10px;
}

.topbar__info > * p:last-child {
  text-transform: capitalize;
}
/* navbar CSS */
.navbar {
  background-color: var(--color-primary);
}

.navbar > * {
  display: flex;
  padding: 17px 0;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu {
  display: flex;
  list-style-type: none;
  gap: 20px;
  color: white;
  text-transform: capitalize;
}
.navbar__feature {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* banner */

.banner {
  background-image: url("/image/banner.png");
  height: 550px;
  background-size: cover;
  width: 100%;
}
.banner > * {
  height: 100%;
}

.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.banner__content__sub-title {
  font-size: 18px;
  font-family: "Work Sans";
  text-transform: uppercase;
  color: var(--color-secondary);
  font-weight: 700;
}
.banner__content__title {
  font-size: 24px;
  font-family: "Yeseva One", cursive;
  /* max-width: 520px; */
  color: var(--color-primary);
  margin-bottom: 32px;
  margin-top: 8px;
}

/* booking */

#booking {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: -50px;
}
#booking > .card {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}
/* About us*/
.section {
  text-align: center;
  padding: 64px 0;
}
.section_header {
  margin-bottom: 64px;
}
#about > .section_content {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
}
#about .section_header {
  margin-bottom: 0;
}
.section_header_sub-title {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-secondary);
  text-transform: uppercase;
}
.section_header_title {
  font-weight: 400;
  font-size: 32px;
  font-family: "Yeseva One";
  color: var(--color-primary);
}
.section_button {
  color: var(--color-secondary);
}
/* services */

#services > .section_content {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  gap: 20px;
}
.services_left {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}
.card__icon {
  padding: 25px;
}
.card__icon:hover {
  background-color: var(--color-primary);
  color: var(--color-accent);
  cursor: pointer;
  border-radius: 5px;
}
.card__icon:hover i {
  filter: brightness(0) invert(0.9);
}
.services_left > .view {
  cursor: pointer;
  padding: 12px 0;
  color: var(--color-accent);
  background-color: var(--color-primary);
}
.services_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services__center {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.services__center__title {
  margin: 8px 0;
  font-size: 26px;
  font-weight: 500;
}
.services__center__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.services__center__content > * {
  padding-left: 30px;
}

.services__center__content > * > p {
  position: relative;
  margin-bottom: 10px;
}

.services__center__content > * > p::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  left: -25px;
  top: calc(50% - 8px);
}
#specialties > .card__specialties {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#specialties > .card__specialties > .card__icon {
  border: 0.15px solid rgba(0, 0, 0, 0.19);
}
.specialties__content {
  background: url(/image/banner3.png);

  background-size: cover;
  width: 100%;
  height: 573px;
}
