.background-img {
    width: 100%;
    height: 200px;
  
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 50%
      ),
      url(/hinh-anh-chill-dep.jpg);
  }
  img{
    object-fit: cover;
   
  }