* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#singup {
  width: 100px;
  height: 50px;
  color: rgb(12, 78, 78);
  
}
main {
  
  background-color: rgb(111, 212, 178);
  width: 100%;
  height: 100%;
}

.singup {
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 450px;
  padding: 50px 50px;
  margin: 50px 50px 50px 50px;
}
form > div {
  margin-bottom: 10px;
}
.name {
  border: 1px solid rgb(232, 214, 214);
  border-radius: 5px;
  overflow: hidden;
}
.name input {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

.name label {
  padding: 10px;
  display: inline-block;
  background-color: grey;
}
