body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main aside"
    "footer footer footer footer";
}
body > * {
  border: 1px solid black;
}
header {
  grid-area: header;
  background-color: rgb(143, 103, 116);
}
main {
  grid-area: main;
  background-color: green;
  
}
aside {
  grid-area: aside;
  background-color: orange;
}
footer {
  grid-area: footer;
  background-color: red;
}
.body{
  grid-template-columns: ;
  grid-template-rows: ;
  grid-column-start: bắt đầu ;
  grid-column-end: kết thúc;
  ;
}